<div class="app-container" [class.is-authenticated]="showLayout$ | async">
  <!-- الـ Sidebar والـ Navbar يظهرون فقط إذا كان المستخدم مسجل وبشرط أن لا نكون في صفحة الـ Auth -->
  <ng-container *ngIf="showLayout$ | async as loggedIn; else loggedOut">
    <app-sidebar></app-sidebar>
    <div class="main-content">
      <app-navbar></app-navbar>
      <main class="app-content animate-fade-in">
        <router-outlet></router-outlet>
      </main>
      <app-footer></app-footer>
    </div>
  </ng-container>

  <ng-template #loggedOut>
    <main class="full-content animate-fade-in">
      <router-outlet></router-outlet>
    </main>
  </ng-template>
</div>
